wheel
termcolor
requests
kittentts @ https://github.com/KittenML/KittenTTS/releases/download/0.8.1/kittentts-0.8.1-py3-none-any.whl
soundfile
moviepy
Pillow>=10.0.0
assemblyai
faster-whisper
srt_equalizer
