wheel
termcolor
requests
gradio_client>=1.0.0
kittentts @ https://github.com/KittenML/KittenTTS/releases/download/0.8.1/kittentts-0.8.1-py3-none-any.whl
soundfile
moviepy
Pillow>=10.0.0
assemblyai
srt_equalizer
json-repair>=0.30.0
